<div class="form-group">
	<input type="email" ng-model="profile.user.oldEmail" class="form-control" placeholder="Your Current Email">
</div>
<div class="form-group">
	<input type="text" ng-model="profile.user.newEmail" class="form-control" placeholder="Your New Email">
</div>
<div class="form-group">
	<input type="text" ng-model="profile.user.password" class="form-control" placeholder="Password">
</div>
<div class="form-group">
	<input type="submit" class="btn btn-warning btn-block" value="Update Email">
</div>