.profileListingRow a:hover{
	text-decoration: none;
}

.actionNeeded{
	color:#FF6565;
}

.actionCompleted{
	color:#248C0D;
}
.truthySymbol{
	color:#449d44;
}
.falsySymbol{
	color:#FF6565;
}
.profileMdButton{
	margin-bottom: 0.8em;
}